* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background: #f8f6f6;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

ul li a {
    position: relative;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 20px;
    text-align: center;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: 0.5s;
}

ul li:hover a {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

ul li a .fa-brands {
    width: 100%;
    height: 100%;
    font-size: 60px;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(150px - 24px);
    color: #262626;
    transition: 0.5s;
}

ul li:nth-child(1) a:hover .fa-brands {
    color: #4269bc;
}
ul li:nth-child(2) a:hover .fa-brands {
    color: #e73b28;
}
ul li:nth-child(3) a:hover .fa-brands {
    color: rgb(230, 26, 26);
}
ul li:nth-child(4) a:hover .fa-brands {
    color: rgb(175, 46, 208);
}
ul li:nth-child(5) a:hover .fa-brands {
    color: rgb(70, 52, 202);
}
